@charset "UTF-8";

@import 'base/define';
@import 'base/reset';
@import 'base/sprite/_mixin.sprite.css';
@import 'index/entry';




.bb1{
    background: url(../images/sprites/box/1.jpg) no-repeat 0 0;
}
.bb2{
    background: url(../images/sprites/box/3.jpg) no-repeat 0 0;
}

.x{
    border:888px solid;
    width: calc(4 * $column);
    @extend bb;
}

.spppp{
    /*@mixin $sprite sp_xx_xx*/
}
